version: '3.8'

services:
  neurocore:
    container_name: neurocore-dashboard
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./benchmark-ml:/app/benchmark-ml
    environment:
      - HOSTNAME=0.0.0.0